* {
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px
}

#calc {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 50%; 
    min-width: 300px; 
    margin: 20px auto;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
}

.display {
    background-color: gray;
    height: 20%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    display: flex;
    flex: 0 1 25%;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.clear {
    background-color: salmon;
}

#zero {
    flex-grow: 2;
}